html {
    height: 100%;
}

body {
    background: linear-gradient(45deg, rgb(77, 0, 0), rgb(187, 0, 0));
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "content1 content2";
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr 1fr;
}


.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(197, 188, 60);
    text-shadow: 2px 2px rgb(0, 0, 0, 0.2);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}


.content1 {
    grid-area: content1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    grid-area: content2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    background: linear-gradient(180deg, rgb(197, 188, 60), rgb(168, 129, 0), rgb(131, 111, 0));
    height: 90%;
    width: 60%;
    border-radius: 50px;
    box-shadow: 7px 7px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

input,
button {
    height: 35px;
    width: 350px;
    border: solid 2px transparent;
    border-radius: 15px;
    background: radial-gradient(rgb(255, 244, 198), rgb(187, 179, 147));
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
    appearance: none
}

input[type="file"]::file-selector-button {
    background-color: #fffbfa00;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input.vazio {
    border: solid 2px red;
}

button {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 20px;
    color: rgb(80, 55, 0);
    transition: 1s ease;
}

button:hover {
    background: radial-gradient(rgb(214, 171, 0), rgb(78, 63, 0));
    color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

label {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 20px;
    color: rgb(187, 0, 0);
    text-shadow: 2px 2px rgb(0, 0, 0, 0.2);
}

.outputs {
    background: linear-gradient(180deg, rgb(197, 188, 60), rgb(211, 162, 0), rgb(131, 111, 0));
    height: 90%;
    width: 60%;
    border-radius: 50px;
    box-shadow: 7px 7px rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cracha {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight: 700;
    color: rgb(187, 0, 0);
    text-shadow: 2px 2px rgb(0, 0, 0, 0.2);
    padding-bottom: 10% ;
}

.base_cracha {
    height: 60%;
    width: 70%;
    border-radius: 1vh;
    background: linear-gradient(180deg, rgb(255, 0, 0), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(21, 75, 0));
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas:
        "foto_out data_out"
        "foto_out tel_out"
        "nome_out nome_out"
        "curso_out curso_out";
    grid-template-columns: 60% 1fr;
    grid-template-rows: 50% 20%;

}

#foto_out {
    grid-area: foto_out;
}

#data_out {
    grid-area: data_out;
}

#tel_out {
    grid-area: tel_out;
}

#nome_out {
    grid-area: nome_out;
}

#curso_out {
    grid-area: curso_out;
}